---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1920px;
$on-palm:          1920px;
$on-laptop:        1920px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "breaks"
;

main {
    display: grid;
    grid-template-rows: 3rem auto 1fr;
    grid-gap: 2rem;
    align-items: flex-start;
    margin: 2rem;

    @media (min-width: breaks(laptop)) {
        grid-template-rows: 3rem auto;
        grid-template-columns: 1fr 1fr;

        > h1 {
            grid-column: span 2;
        }
    }

    @media (min-width: breaks(desktop)) {
        align-items: center;
        margin: 2rem 5rem;
    }

    > section {
        padding: 0 1rem;
    }

    > h1 {
        text-align: center;
    }

    svg {
        max-height: 60vh;
    }
}
