---
layout: default
---

<main>
  <h1>Deliverable Issues</h1>
  <section>
    <div id="chart"></div>
  </section>
  <section>
    <ul class="post-list">
      {% for epic in site.data.deliverable_issues %}
        <li>
          {{ epic.title }}
            <ul>
              {% for issue in epic.issues %}
              <li>
                {{ issue.title }}
                  {% if issue.state == 'closed' %}
                  ({{ issue.state }})
                  {% endif %}
              </li>
              {% endfor %}
            </ul>
        </li>
      {% endfor %}
    </ul>
  </section>
</main>
