<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="module" src="{{"/js/index.js" | prepend: site.baseurl}}"></script>
  </body>

</html>
